In [7]:
import pandas as pd

In [8]:
barranquilla = pd.read_csv( './data/camas_barranquilla_raw.csv', sep = ';' )

In [9]:
columns = [ c for c in barranquilla.columns.tolist() if c.startswith( 'camas_' ) ]

In [10]:
barranquilla = barranquilla[ columns ]

In [11]:
def sum_ucis( x ):
    acum = 0
    for c in x.keys():
        if 'intensivo' in c:
            acum = acum + x[ c ]
    return acum

barranquilla[ 'UCI' ] = barranquilla.apply( lambda x: sum_ucis( x ), axis = 1 )

In [12]:
def sum_intermedio( x ):
    acum = 0
    for c in x.keys():
        if 'intermedio' in c:
            acum = acum + x[ c ]
    return acum

barranquilla[ 'Intermedio' ] = barranquilla.apply( lambda x: sum_intermedio( x ), axis = 1 )

In [13]:
def sum_general( x ):
    acum = 0
    for c in x.keys():
        if ( 'intensivo' not in c ) and ( 'intermedio' not in c ):
            acum = acum + x[ c ]
    return acum

barranquilla[ 'General' ] = barranquilla.apply( lambda x: sum_general( x ), axis = 1 )

In [14]:
barranquilla = barranquilla[ [ 'UCI', 'Intermedio', 'General' ] ].stack().reset_index()
del barranquilla[ 'level_0' ]
barranquilla.rename( columns = { 'level_1': 'Servicio', 0: 'Camas habilitadas' }, inplace = True )

In [15]:
barranquilla.head()

     Servicio  Camas habilitadas
0         UCI                860
1  Intermedio                618
2     General               7783

In [16]:
barranquilla.to_csv( './data/camas_barranquilla.csv', index = False )

In [22]:
cartagena = pd.read_csv( './data/camas_cartagena_raw.csv', sep = ';' )

In [23]:
columns = [ c for c in cartagena.columns.tolist() if c.startswith( 'camas_' ) ]

In [24]:
cartagena = cartagena[ columns ]

In [25]:
def sum_ucis( x ):
    acum = 0
    for c in x.keys():
        if 'intensivo' in c:
            acum = acum + x[ c ]
    return acum

cartagena[ 'UCI' ] = cartagena.apply( lambda x: sum_ucis( x ), axis = 1 )

In [26]:
def sum_intermedio( x ):
    acum = 0
    for c in x.keys():
        if 'intermedio' in c:
            acum = acum + x[ c ]
    return acum

cartagena[ 'Intermedio' ] = cartagena.apply( lambda x: sum_intermedio( x ), axis = 1 )

In [27]:
def sum_general( x ):
    acum = 0
    for c in x.keys():
        if ( 'intensivo' not in c ) and ( 'intermedio' not in c ):
            acum = acum + x[ c ]
    return acum

cartagena[ 'General' ] = cartagena.apply( lambda x: sum_general( x ), axis = 1 )

In [28]:
cartagena = cartagena[ [ 'UCI', 'Intermedio', 'General' ] ].stack().reset_index()
del cartagena[ 'level_0' ]
cartagena.rename( columns = { 'level_1': 'Servicio', 0: 'Camas habilitadas' }, inplace = True )

In [29]:
cartagena.head()

     Servicio  Camas habilitadas
0         UCI                389
1  Intermedio                271
2     General               4207

In [30]:
cartagena.to_csv( './data/camas_cartagena.csv', index = False )

In [31]:
medellin = pd.read_csv( './data/camas_medellin_raw.csv', sep = ';' )

In [32]:
columns = [ c for c in medellin.columns.tolist() if c.startswith( 'camas_' ) ]

In [33]:
medellin = medellin[ columns ]

In [34]:
def sum_ucis( x ):
    acum = 0
    for c in x.keys():
        if 'intensivo' in c:
            acum = acum + x[ c ]
    return acum

medellin[ 'UCI' ] = medellin.apply( lambda x: sum_ucis( x ), axis = 1 )

In [35]:
def sum_intermedio( x ):
    acum = 0
    for c in x.keys():
        if 'intermedio' in c:
            acum = acum + x[ c ]
    return acum

medellin[ 'Intermedio' ] = medellin.apply( lambda x: sum_intermedio( x ), axis = 1 )

In [36]:
def sum_general( x ):
    acum = 0
    for c in x.keys():
        if ( 'intensivo' not in c ) and ( 'intermedio' not in c ):
            acum = acum + x[ c ]
    return acum

medellin[ 'General' ] = medellin.apply( lambda x: sum_general( x ), axis = 1 )

In [37]:
medellin = medellin[ [ 'UCI', 'Intermedio', 'General' ] ].stack().reset_index()
del medellin[ 'level_0' ]
medellin.rename( columns = { 'level_1': 'Servicio', 0: 'Camas habilitadas' }, inplace = True )

In [38]:
medellin.head()

     Servicio  Camas habilitadas
0         UCI                804
1  Intermedio                643
2     General               9848

In [39]:
medellin.to_csv( './data/camas_medellin.csv', index = False )

In [40]:
cali = pd.read_csv( './data/camas_cali_raw.csv', sep = ';' )

In [41]:
columns = [ c for c in cali.columns.tolist() if c.startswith( 'camas_' ) ]

In [42]:
cali = cali[ columns ]

In [43]:
def sum_ucis( x ):
    acum = 0
    for c in x.keys():
        if 'intensivo' in c:
            acum = acum + x[ c ]
    return acum

cali[ 'UCI' ] = cali.apply( lambda x: sum_ucis( x ), axis = 1 )

In [44]:
def sum_intermedio( x ):
    acum = 0
    for c in x.keys():
        if 'intermedio' in c:
            acum = acum + x[ c ]
    return acum

cali[ 'Intermedio' ] = cali.apply( lambda x: sum_intermedio( x ), axis = 1 )

In [45]:
def sum_general( x ):
    acum = 0
    for c in x.keys():
        if ( 'intensivo' not in c ) and ( 'intermedio' not in c ):
            acum = acum + x[ c ]
    return acum

cali[ 'General' ] = cali.apply( lambda x: sum_general( x ), axis = 1 )

In [46]:
cali = cali[ [ 'UCI', 'Intermedio', 'General' ] ].stack().reset_index()
del cali[ 'level_0' ]
cali.rename( columns = { 'level_1': 'Servicio', 0: 'Camas habilitadas' }, inplace = True )

In [47]:
cali.head()

     Servicio  Camas habilitadas
0         UCI                989
1  Intermedio                508
2     General               7893

In [48]:
cali.to_csv( './data/camas_cali.csv', index = False )