In [1]:
import pandas as pd

In [2]:
capacidad = pd.read_excel( './data/Capacidad instalada. Camas. Colombia REPS.xlsx' )

In [3]:
capacidad.shape

(79108, 8)

In [4]:
capacidad.dtypes

depa_nombre     object
muni_nombre     object
naju_nombre     object
clpr_nombre     object
nivel          float64
habilitado      object
coca_nombre     object
cantidad         int64
dtype: object

In [5]:
capacidad.head()

,depa_nombre,muni_nombre,naju_nombre,clpr_nombre,nivel,habilitado,coca_nombre,cantidad
0,Amazonas,EL ENCANTO,Pública,Instituciones - IPS,2.0,SI,Pediátrica,1
1,Amazonas,EL ENCANTO,Pública,Instituciones - IPS,2.0,SI,Adultos,1
2,Amazonas,EL ENCANTO,Pública,Instituciones - IPS,2.0,SI,Obstetricia,1
3,Amazonas,EL ENCANTO,Pública,Instituciones - IPS,2.0,SI,Partos,1
4,Amazonas,EL ENCANTO,Pública,Instituciones - IPS,2.0,SI,Procedimientos,1

In [6]:
capacidad_grouped = capacidad.groupby( [ 'depa_nombre', 'muni_nombre', 'coca_nombre' ] ).agg( { 'cantidad': 'sum' } ).reset_index()

In [7]:
capacidad_grouped_uci = capacidad_grouped.loc[ capacidad_grouped[ 'coca_nombre' ].str.lower().str.contains( 'intensivo' ) ].groupby( [ 'depa_nombre', 'muni_nombre' ] ).agg( { 'cantidad': 'sum' } ).reset_index()
capacidad_grouped_uci[ 'Tipo' ] = 'UCI'

In [8]:
capacidad_grouped_general = capacidad_grouped.loc[ ~capacidad_grouped[ 'coca_nombre' ].str.lower().str.contains( 'intensivo' ) ].groupby( [ 'depa_nombre', 'muni_nombre' ] ).agg( { 'cantidad': 'sum' } ).reset_index()
capacidad_grouped_general[ 'Tipo' ] = 'General'

In [9]:
capacidad_grouped_2 = pd.concat( [ capacidad_grouped_uci, capacidad_grouped_general ] ).sort_values( by = [ 'depa_nombre', 'muni_nombre' ] )

In [10]:
capacidad_grouped_2.rename( columns = { 'depa_nombre': 'Departamento', 'muni_nombre': 'Municipio', 'cantidad': 'Cantidad' }, inplace = True )

In [11]:
capacidad_grouped_2.head()

  Departamento    Municipio  Cantidad     Tipo
0     Amazonas   EL ENCANTO         5  General
1     Amazonas  LA CHORRERA         5  General
2     Amazonas   LA PEDRERA         5  General
3     Amazonas  LA VICTORIA         0  General
4     Amazonas      LETICIA       156  General

In [12]:
capacidad_grouped_2.to_csv( './data/capacidad_instalada.csv', index = False )