In [1]:
import pandas as pd

In [31]:
ch = pd.read_csv( './data/meta/sample_dataCH.csv' )
metrop = pd.read_csv( './data/meta/sample_dataMetrop.csv' )
riomar = pd.read_csv( './data/meta/sample_dataRiomar.csv' )
surocc = pd.read_csv( './data/meta/sample_dataSurOcc.csv' )
suror = pd.read_csv( './data/meta/sample_dataSurOr.csv' )

ch.rename( columns = { 'IH': 'CH_IH', 'X': 'CH_X' }, inplace = True )
metrop.rename( columns = { 'IH': 'Metrop_IH', 'X': 'Metrop_X' }, inplace = True )
riomar.rename( columns = { 'IH': 'Riomar_IH', 'X': 'Riomar_X' }, inplace = True )
surocc.rename( columns = { 'IH': 'SurOcc_IH', 'X': 'SurOcc_X' }, inplace = True )
suror.rename( columns = { 'IH': 'SurOr_IH', 'X': 'SurOr_X' }, inplace = True )

In [32]:
ch[ 'zone' ] = 'CH'
metrop[ 'zone' ] = 'Metrop'
riomar[ 'zone' ] = 'Riomar'
surocc[ 'zone' ] = 'SurOcc'
suror[ 'zone' ] = 'SurOr'

In [33]:
ch.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [34]:
ch.tail()

       t          IH     X zone
360  361  124.950059  0.05   CH
361  362  121.264679  0.05   CH
362  363  117.673379  0.05   CH
363  364  114.177016  0.05   CH
364  365  110.774317  0.05   CH

In [35]:
metrop.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [36]:
metrop.tail()

       t          IH     X    zone
725  726  114.646273  0.05  Metrop
726  727  114.469695  0.05  Metrop
727  728  112.423333  0.05  Metrop
728  729  108.691949  0.05  Metrop
729  730  104.980064  0.05  Metrop

In [37]:
riomar.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [38]:
riomar.head()

   t        IH    X    zone
0  1  0.000000  1.0  Riomar
1  2  0.000033  1.0  Riomar
2  3  0.000097  1.0  Riomar
3  4  0.000107  1.0  Riomar
4  5  0.000112  1.0  Riomar

In [39]:
surocc.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [40]:
surocc.head()

   t            IH    X    zone
0  1  0.000000e+00  1.0  SurOcc
1  2  3.530000e-08  1.0  SurOcc
2  3  2.360000e-07  1.0  SurOcc
3  4  2.640000e-07  1.0  SurOcc
4  5  2.770000e-07  1.0  SurOcc

In [41]:
suror.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [42]:
suror.head()

   t            IH    X   zone
0  1  0.000000e+00  1.0  SurOr
1  2  1.970000e-10  1.0  SurOr
2  3  3.910000e-10  1.0  SurOr
3  4  4.120000e-10  1.0  SurOr
4  5  4.220000e-10  1.0  SurOr

meta = ch.merge( metrop, on = 't', how = 'outer' ).merge( riomar, on = 't', how = 'outer' ).merge( surocc, on = 't', how = 'outer' ).merge( suror, on = 't', how = 'outer' )

In [44]:
meta = pd.concat( [ ch, metrop, riomar, surocc, suror ] )

In [45]:
meta.dtypes

t         int64
IH      float64
X       float64
zone     object
dtype: object

In [46]:
meta.to_csv( './data/meta/meta_barranquilla.csv', index = False )